html, body {
  margin: 0px;
}

/* TODO: Just for Header */
.header {
  display: block;
}

.header-image {
  height: 400px;
  background: transparent url("../images/background.jpg") no-repeat scroll center;
}

.avatar {
  text-align: center;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 3px white;
  margin-top: -100px;
}

.blog-title {
  height: 300px;
  text-align: center;
}

.blog-title p {
  font-size: 15px;
  font-style: italic;

}

/* TODO: Just for about */

.about {
  background: transparent url("../images/about-bg.jpg") no-repeat fixed center;
  height: 1440px;
  text-align: center;
  color: white;
}

.about #user {
  border-radius: 50%;
  border: solid 2px white;
  background-color: white;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

.about h2 {
  margin-bottom: 200px;
}

.about h4, .about p {
  font-style: italic;
}

.about h4 {
  font-size: 20px;
}
.about p {
  font-size: 17px;
}

.row {
  margin: 50px 0px;

}

.col-md-4 {
  border-bottom: dotted 2px white;
  color: white;
}

/* TODO: Just for love */

.love {
  background: transparent url("../images/love-bg.jpg") no-repeat fixed center;
  height: 1440px;
  text-align: center;
  color: white;
}

.love #heart {
  border-radius: 50%;
  border: solid 2px transparent;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

.circle {
  position: relative;
  border-radius: 50%;
  border: solid 2px white;
  background-color: transparent;
  width: 600px;
  height: 600px;
  margin: 250px auto;
  text-align: center;
}

.love-center {
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
  z-index: 9999;
  margin: 200px;
}

.love-center .glyphicon-cd {
  font-size: 120px;
  margin: 40px;
}

.smoking, .coffee, .music, .code {
  position: absolute;
  border-radius: 50%;
  border: solid 2px white;
  width: 100px;
  height: 100px;
  z-index: 9999;
  background-color: white;
  text-align: center;
}

.smoking, .coffee {
  float: left;
  top: 75px;
}

.smoking img {
  margin: 15px;
}

.coffee {
  left: 500px;
}

.music, .code {
  float: right;
  bottom: 75px;
}

.code {
  left: 500px;
}
/* TODO: Just for Dream */

.dream {
  background: transparent url("../images/dream-bg.jpg") no-repeat fixed center;
  height: 1440px;
  text-align: center;
  color: white;
}

.dream #mydream {
  border-radius: 50%;
  border: solid 2px transparent;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

.dream-content {
  text-align: center;
}
/* TODO: Just for think */

.think {
  background: transparent url("../images/think-bg.jpg") no-repeat fixed center;
  height: 1440px;
  color: white;
}

.think-top {
  text-align: center;
}
.think #mythink {
  border-radius: 50%;
  border: solid 2px transparent;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

/* TODO: Just for video */

.video {
  height: 600px;
  text-align: center;
}

.video #myvideo {
  border-radius: 50%;
  border: solid 2px white;
  background-color: white;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}
