html, body {
  margin: 0px;
}

/* TODO: Just for Header */
.header {
  display: block;
}

.header-image {
  height: 400px;
  background: transparent url("../images/background.jpg") no-repeat scroll center;
}

.avatar {
  text-align: center;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 3px white;
  margin-top: -100px;
}

.blog-title {
  height: 300px;
  text-align: center;
}

.blog-title p {
  font-size: 15px;
  font-style: italic;

}

/* TODO: Just for about */

.about {
  background: transparent url("../images/about-bg.jpg") no-repeat fixed center;
  height: 1440px;
  text-align: center;
}

.about #user {
  border-radius: 50%;
  border: solid 2px white;
  background-color: white;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

.row {
  margin: 20px 0px;
}

.col-md-4 {
  border-bottom: dotted 2px white;
  color: white;
}

/* TODO: Just a line */

#line {
  margin: 5px 200px;
  border-bottom: solid 1px black;
}

/* TODO: Just for love */

.love {
  background: transparent url("../images/love-bg.jpg") no-repeat fixed center;
  height: 1440px;
  text-align: center;
}

.love #heart {
  border-radius: 50%;
  border: solid 2px transparent;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

/* TODO: Just for Dream */

.dream {
  background: transparent url("../images/dream-bg.jpg") no-repeat fixed center;
  height: 1440px;
  text-align: center;
}

.dream #mydream {
  border-radius: 50%;
  border: solid 2px transparent;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

/* TODO: Just for think */

.think {
  background: transparent url("../images/think-bg.jpg") no-repeat fixed center;
  height: 1440px;
  text-align: center;
}

.think #mythink {
  border-radius: 50%;
  border: solid 2px transparent;
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}

/* TODO: Just for video */

.video {
  height: 600px;
  text-align: center;
}

.video #myvideo {
  border-radius: 50%;
  border: solid 2px white;
  background-color: white;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}
